In [1]:
import arcpy
import os
import pandas as pd
from arcgis import GIS
import numpy as np
from arcgis.features import GeoAccessor, GeoSeriesAccessor
arcpy.env.overwriteOutput = True

# show all columns
pd.options.display.max_columns = None

In [ ]:
# input taz shapefile and parcels
taz_shp = '.\\Inputs\\TAZ.shp'
parcels = '.\\Inputs\\Davis_County_LIR_Parcels.gdb\\Parcels_Davis_LIR_UTM12'

In [ ]:
extended_data = r

In [2]:
parcels = pd.read_csv(r"E:\REMM\Base_Year_Data_2019\parcels.csv")

In [41]:
buildings = pd.read_csv(r"E:\REMM\Base_Year_Data_2019\buildings.csv")
buildings = buildings[(buildings['building_type_id']== 1) & (buildings['residential_units'] == 1)]

In [4]:
parcels_shp = pd.DataFrame.spatial.from_featureclass(r'E:\REMM\Boundaries\Center01102019.gdb\BaseGP01102019')

In [38]:
buildings[buildings['residential_units'] > 5].head()

,building_id,building_sqft,building_type_id,non_residential_sqft,note,parcel_id,residential_units,stories,unit_price_non_residential,year_built,res_price_per_sqft,job_spaces
91035,53,153873.0,1,0.0,base,51569,288,1,0.0,2006,116.534415,0
92710,1319,46552.0,1,0.0,base,77810,28,1,0.0,1930,22.749182,0
94314,1769,9770.0,1,0.0,base,50662,14,1,0.0,2001,43.387922,0
97450,1141,10980.0,1,0.0,base,122478,46,1,0.0,1993,6.293260,0
99008,1496,15624.0,1,0.0,base,80679,21,1,0.0,1923,25.396825,0

In [3]:
parcels.head()

,parcel_id,Unnamed: 0,county_id,zone_id,parcel_acres,land_value,x,y,elevation,fwy_exit,airport,rail_depot,stream,trail,university,shape_area,volume_one_way,volume_two_way,airport_distance,fwy_exit_dist,raildepot_dist,university_dist,trail_dist,stream_dist,train_station,rail_stn_dist,bus_rte_dist,bus_stop,bus_stop_dist,volume_two_way_nofwy,distsml_id,distmed_id,distlrg_id,parent_parcel,CO_NAME,parcel_id_REMM,county_taz_id,utmxi,utmyi,city,zonal_ppa
0,741871,0,4,2111,0.197968,35700.00,1531239.186,7330722.151,1447.537450,0.0,0.0,0.0,1.0,0.0,0.0,8.623484e+03,992.0,1942.0,18.02655,0.85831,12.61234,14.73993,0.09764,0.0,0.0,8.748286,2382.31,0.0,0.882466,1942.0,487,38,13,741871,UTAH,741871,492111,424331.7633,4477427.732,Lehi,176926.527483
1,579822,1,4,2873,37.717834,56614.32,1535437.548,7341595.932,1657.284652,0.0,0.0,0.0,1.0,0.0,0.0,1.642989e+06,3564.0,7135.0,19.48828,1.32984,10.63629,15.94851,0.23207,0.0,0.0,6.691816,4930.50,0.0,1.164110,7135.0,0,0,0,579822,UTAH,579822,492873,425629.9856,4480733.739,Utah County,140869.334754
2,579853,2,4,2117,6.791235,81500.00,1534101.235,7334630.179,1657.284652,0.0,0.0,0.0,1.0,0.0,0.0,2.958262e+05,0.0,0.0,18.42054,1.66976,11.91035,15.00142,0.55081,0.0,0.0,7.994607,6770.95,0.0,1.661999,0.0,487,38,13,579853,UTAH,579853,492117,425210.6619,4478613.554,Lehi,199096.575130
3,640185,3,4,2073,1.372797,112100.00,1538253.186,7322787.258,1445.761763,0.0,0.0,0.0,1.0,0.0,0.0,5.979902e+04,2495.0,5043.0,16.06753,0.60111,14.23267,12.73670,0.04966,0.0,0.0,10.277766,2627.34,0.0,0.548186,5043.0,482,38,13,640185,UTAH,640185,492073,426455.1775,4474997.689,Lehi,169098.553773
4,682698,4,4,2119,0.163751,43000.00,1548648.398,7336198.043,1766.927829,0.0,0.0,0.0,1.0,0.0,0.0,7.132996e+03,3632.0,7133.0,17.61362,3.74880,12.20122,13.84603,0.37882,0.0,0.0,8.210217,9997.32,0.0,2.129948,7133.0,488,39,14,682698,UTAH,682698,492119,429646.0053,4479065.962,Draper,254583.603528

In [5]:
parcels_shp.head()

,OBJECTID,parcel_id,parcel_id_REMM,basebldg,Sliver,parcel_sqft,Split,x,y,parcel_acre,zone_id,county_id,distsml_id,distmed_id,distlrg_id,county_taz_id,utmxi,utmyi,county_name,city,max_dua,max_far,type1,type2,type3,type4,type5,type6,type7,type8,max_height,Agriculture,NoBuild,redev_friction,note,SHAPE
0,1,671124.0,671124,0,None,16203.648534,None,1.572705e+06,7.294321e+06,0.371986,2246,4,502,40,14,492246,436903.470480,4.466264e+06,UTAH,Lindon,NaN,0.50,f,f,f,t,t,f,f,f,999,0,NaN,NaN,None,"{""rings"": [[[1572658.531162396, 7294412.922931..."
1,2,588354.0,588354,0,None,49466.799191,None,1.572481e+06,7.293816e+06,1.135606,2246,4,502,40,14,492246,436834.326227,4.466111e+06,UTAH,Lindon,NaN,0.50,f,f,f,t,t,f,f,f,999,0,NaN,NaN,None,"{""rings"": [[[1572446.1962272525, 7294150.73555..."
2,3,664267.0,664267,1,None,27944.879802,None,1.571343e+06,7.291668e+06,0.641529,2246,4,502,40,14,492246,436483.924796,4.465458e+06,UTAH,Lindon,NaN,0.41,f,f,t,f,f,f,f,f,999,0,NaN,NaN,None,"{""rings"": [[[1571352.9701225907, 7291780.92202..."
3,4,632453.0,632453,1,None,15190.031848,None,1.580054e+06,7.303541e+06,0.348717,2218,4,499,40,14,492218,439158.855345,4.469061e+06,UTAH,Pleasant Grove,4.0,NaN,t,f,f,f,f,f,f,f,999,0,NaN,NaN,None,"{""rings"": [[[1579974.9191654772, 7303604.60588..."
4,5,632450.0,632450,1,None,10092.376514,None,1.580190e+06,7.303272e+06,0.231690,2218,4,499,40,14,492218,439199.839455,4.468979e+06,UTAH,Pleasant Grove,4.0,NaN,t,f,f,f,f,f,f,f,999,0,NaN,NaN,None,"{""rings"": [[[1580242.158429563, 7303338.493389..."

In [42]:
parcels_buildings = buildings.groupby(['parcel_id',], as_index=False).sum()
parcels_buildings['build_val'] = parcels_buildings['building_sqft'] * parcels_buildings['res_price_per_sqft']

In [43]:
parcels_new = parcels_shp.merge(parcels[['parcel_id_REMM','CO_NAME','land_value']], left_on = 'parcel_id_REMM', right_on = 'parcel_id_REMM' , how = 'inner')                        .merge(parcels_buildings[['parcel_id','build_val']], left_on = 'parcel_id_REMM', right_on = 'parcel_id' , how = 'inner')
parcels_new['total_val'] = parcels_new['build_val'] + parcels_new['land_value']

In [24]:
list(parcels_new.columns)

['OBJECTID',
 'parcel_id_x',
 'parcel_id_REMM',
 'basebldg',
 'Sliver',
 'parcel_sqft',
 'Split',
 'x',
 'y',
 'parcel_acre',
 'zone_id',
 'county_id',
 'distsml_id',
 'distmed_id',
 'distlrg_id',
 'county_taz_id',
 'utmxi',
 'utmyi',
 'county_name',
 'city',
 'max_dua',
 'max_far',
 'type1',
 'type2',
 'type3',
 'type4',
 'type5',
 'type6',
 'type7',
 'type8',
 'max_height',
 'Agriculture',
 'NoBuild',
 'redev_friction',
 'note',
 'SHAPE',
 'CO_NAME',
 'land_value',
 'parcel_id_y',
 'build_val']

In [44]:
slc = parcels_new[(parcels_new['CO_NAME']== 'SALT LAKE') & (parcels_new['basebldg'] == 1) & (parcels_new['type1'] == 't') & (parcels_new['type2'] == 'f') & (parcels_new['type3'] == 'f') & (parcels_new['type4'] == 'f') & (parcels_new['type6'] == 'f') & (parcels_new['type7'] == 'f') & (parcels_new['type8'] == 'f')]
utah = parcels_new[(parcels_new['CO_NAME']== 'UTAH') & (parcels_new['basebldg'] == 1) & (parcels_new['type1'] == 't') & (parcels_new['type2'] == 'f') & (parcels_new['type3'] == 'f') & (parcels_new['type4'] == 'f') & (parcels_new['type6'] == 'f') & (parcels_new['type7'] == 'f') & (parcels_new['type8'] == 'f')]
davis = parcels_new[(parcels_new['CO_NAME']== 'DAVIS') & (parcels_new['basebldg'] == 1) & (parcels_new['type1'] == 't') & (parcels_new['type2'] == 'f') & (parcels_new['type3'] == 'f') & (parcels_new['type4'] == 'f') & (parcels_new['type6'] == 'f') & (parcels_new['type7'] == 'f') & (parcels_new['type8'] == 'f')]
weber = parcels_new[(parcels_new['CO_NAME']== 'WEBER') & (parcels_new['basebldg'] == 1) & (parcels_new['type1'] == 't') & (parcels_new['type2'] == 'f') & (parcels_new['type3'] == 'f') & (parcels_new['type4'] == 'f') & (parcels_new['type6'] == 'f') & (parcels_new['type7'] == 'f') & (parcels_new['type8'] == 'f')]

In [45]:
print(slc['total_val'].mean())
print(utah['total_val'].mean())
print(davis['total_val'].mean())
print(weber['total_val'].mean())

425495.701333164
1964018.0877779431
271275.6288922875
3995195.5028393785

In [ ]:
& (parcels_new['type2'] == 'f') & (parcels_new['type3'] == 'f') & (parcels_new['type4'] == 'f') & (parcels_new['type6'] == 'f') & (parcels_new['type7'] == 'f') & (parcels_new['type8'] == 'f')